@media (max-width: 1199px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 710px

  .logo
    &__img
      width: 162px

  .navbar
    &-top
      padding: 29px 1px 17px

      &__text
        font-size: 18px
        line-height: 25px

    &__icon
      &-telephone
        width: 18.08px

    &-menu
      width: 95%
      justify-content: space-around
      padding: 17px 0

      &__link
        font-size: 16px
        line-height: 22px

  .telephone
    font-size: 18px
    line-height: 25px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%

  .navbar
    &__icon-telephone
      display: none

    &-menu
      display: none


  .telephone
    display: none

  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-evenly
      flex-direction: column
      width: 30px
      height: 30px
      border: none
      background-color: white
      cursor: pointer
      margin-right: 10px
      margin-top: 1px

      &__line
        width: 30px
        height: 4px
        background-color: #333333
        border-radius: 50px

@media (max-width: 576px)
  .container
    max-width: 420px
    width: 92%
  .navbar
    &-top
      &__text
        font-size: 12px
        line-height: 15px
        width: 180px

  .logo
    &__img
      width: 90px
      margin-right: 20px

@media (max-width: 320px)
  .container
    max-width: 282px
    width: 92%

  .navbar
    &-top
      &__text
        font-size: 11px
        line-height: 15px
        width: 180px

  .logo
    &__img
      width: 75px
      margin-right: 26px
      padding-top: 5px




