@media (max-width: 1400px)
  .container
    width: 1200px

  .quiz
    &-keepsake
      width: 570px

      &__text
        width: 572px

    &-interview
      max-width: 590px

    &-keepsake:after
      content: ""
      right: 24px

@media (max-width: 1199px)
  .container
    max-width: 960px

  .offer
    margin-bottom: 52px

    &-service
      &__if
        font-size: 34px
        line-height: 46px

      &__margin
        font-size: 16px
        line-height: 22px

    &-form
      &__frame
        margin: 10px

      &__name
        width: 81%

      &__phone
        width: 81%

  .quiz
    &-container
      flex-direction: column
      width: 589px
      margin: auto

    &-keepsake:after
      content: ""
      background-image: url("../img/block-2/keepsake-small.png")
      width: 379px
      height: 256px
      top: 976px
      left: 350px


@media (max-width: 991px)
  .container
    max-width: 710px

  .logo
    &__img
      width: 162px

  .navbar
    &-top
      padding: 29px 1px 17px

      &__text
        font-size: 18px
        line-height: 25px

    &__icon
      &-telephone
        width: 18.08px

    &-menu
      width: 95%
      justify-content: space-around
      padding: 17px 0
      margin-bottom: 19px

      &__link
        font-size: 16px
        line-height: 22px

  .telephone
    font-size: 18px
    line-height: 25px

  .fon
    background-image: url("../img/fon-991.png")
    background-position: 50% 0
    background-size: cover

  .offer
    &-container
      flex-direction: column

    &-service
      width: 620px
      padding-bottom: 0

      &__if
        margin-bottom: 30px

      &__chek
        width: 20px
        margin-right: 22px

      &__information
        margin-bottom: 16px

    &-form
      width: 316px
      height: 369px
      margin-top: 32px
      margin-left: 49px
      margin-bottom: 105px

      &__text
        font-size: 20px
        line-height: 28px
        margin-top: 28px
        margin-bottom: 23px

      &__name
        width: 75%
        font-size: 14px
        line-height: 19px
        padding: 15px 27px 15px 18px
        margin: 0 36px 14px

      &__phone
        width: 75%
        font-size: 14px
        line-height: 19px
        padding: 15px 27px 15px 18px
        margin: 0 36px 18px

      &__frame
        width: 296.96px
        height: 347.42px

      &__understanding
        font-size: 8px
        line-height: 13px
        margin: 0 auto
        width: 225px

  .button
    &-offer
      font-size: 14px
      line-height: 17px
      padding: 18px
      margin: 0 37px 13px

  .quiz
    &-container
      margin-left: 36px

    &-keepsake
      padding: 48px 19px

      &__text
        width: 565px
        margin-left: 18px
        font-weight: 600
        font-size: 30px
        line-height: 42px
        text-align: center

    &-keepsake:after
      content: ""
      width: 315px
      top: 933px
      left: 386px

    &-interview
      max-width: 639px

      &__if
        &-too
          margin-bottom: 31px

        &-four
          margin-bottom: 30px


@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%

  .navbar
    &__icon-telephone
      display: none

    &-menu
      display: none


  .telephone
    display: none

  .menu
    &-button
      display: flex
      align-items: center
      justify-content: space-evenly
      flex-direction: column
      width: 30px
      height: 30px
      border: none
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 24.7%, rgba(255, 255, 255, 0.81) 31.05%, #FFFFFF 45.88%, #EFF0F0 100%)
      cursor: pointer
      margin-right: 10px
      margin-top: 1px

      &__line
        width: 30px
        height: 4px
        background-color: #333333
        border-radius: 50px

  .offer
    &-service
      max-width: 536px

  .quiz
    &-keepsake
      width: 530px

      &__text
        font-size: 27px
        line-height: 30px
        margin: auto

    &-container
      width: 530px
      margin-left: 0

    &-interview
      width: 530px

      &__phone
        padding: 19px 0 19px 20px

      &__choice
        font-size: 16px
        line-height: 20px

      &__color
        font-size: 16px
        line-height: 20px

      &__checkbox
        &-white
          margin-right: 65px

        &-gray
          margin-right: 65px

      &__if
        &-text
          font-size: 16px
          line-height: 20px

          &__nesting
            font-size: 16px
            line-height: 20px

    &-interview::before
      width: 510px

    &-keepsake
      padding: 48px 0

      &__text
        width: 500px

    &-keepsake:after
      content: ""
      width: 330px
      height: 256px
      top: 890px
      left: 200px

  .button
    &-quiz
      padding: 19px 25px 19px 25px

@media (max-width: 576px)
  .container
    max-width: 420px
    width: 92%
  .navbar
    &-top
      margin-bottom: 207px

      &__text
        font-size: 12px
        line-height: 15px
        width: 180px

  .logo
    &__img
      width: 90px
      margin-right: 20px

  .fon
    background-image: url("../img/fon-320.png")
    background-position: 50% 0
    background-size: cover

  .offer
    margin-bottom: 70px

    &-container
      width: 320px

    &-service
      max-width: 320px

      &__if
        font-size: 20px
        line-height: 32px
        margin-bottom: 20px

      &__margin
        font-size: 12px
        line-height: 16px
        margin-bottom: 10px

      &__information
        margin-bottom: 6px
        width: 287px

    &-form
      width: 288px
      height: 344px
      margin-top: 18px
      margin-left: 3px


      &__frame
        width: 270.65px
        height: 323.88px

    &-form
      margin-left: 10px

      &__text
        margin-top: 18px

      &__name
        width: 82%
        padding: 15px 27px 15px 18px
        margin: 0 22px 14px

      &__phone
        width: 82%
        padding: 15px 27px 15px 18px
        margin: 0 22px 19px

  .button
    &-offer
      margin: 0 23px 13px
      padding: 16px 18px

  .quiz
    &-keepsake
      width: 280px
      padding: 0
      margin-bottom: 30px

      &__text
        width: 294px
        font-size: 18px
        line-height: 28px
        margin-left: -6px

    &-container
      width: 280px
      margin-left: 0

    &-interview
      width: 288px
      padding: 30px 15px 53px 24px
      margin-left: 10px

      &__phone
        padding: 19px 44px 19px 20px
        margin-bottom: 15px

      &__choice
        font-size: 12px
        line-height: 16px

      &__color
        font-size: 12px
        line-height: 16px
        margin-bottom: 20px

      &__checkbox
        width: 16px
        height: 16px
        margin-left: -4px
        margin-right: 3px

        &-white
          margin-right: 13px

        &-gray
          margin-right: 12px

        &-color
          margin-left: -4px
          margin-right: 2px
          width: 16px
          height: 16px

        &-yes
          margin-right: 22px

      &__window
        &-white
          width: 50px
          margin-right: 19px
          margin-left: -4px

        &-gray
          width: 50px
          margin-right: 17px

        &-brown
          width: 50px

      &__if
        &-text
          margin-bottom: 30px
          font-size: 12px
          line-height: 16px

          &__nesting
            font-size: 12px
            line-height: 16px
            margin-left: -4px
            margin-bottom: 12px

        &-one
          margin-bottom: 14px

        &-too
          margin-bottom: 20px

        &-three
          margin-bottom: 20px

        &-four
          margin-bottom: 20px

        &-five
          margin-bottom: 29px

    &-interview::before
      width: 270px

    &-keepsake:after
      content: ""
      background-image: url("../img/block-2/keepsake-small__320.png")
      width: 145px
      height: 116px
      top: 746px
      left: 152px

  .button
    &-quiz
      padding: 16px 44px 19px 44px
      margin-left: -6px

@media (max-width: 320px)
  .container
    max-width: 282px
    width: 92%

  .navbar
    &-top
      &__text
        font-size: 11px
        line-height: 15px
        width: 180px

  .logo
    &__img
      width: 75px
      margin-right: 26px
      padding-top: 5px

  .fon
    background-image: url("../img/fon-320.png")
    background-position: 50% 0
    background-size: auto

  .offer
    padding-bottom: 69px
    &-container
      max-width: 287px

    &-service
      max-width: 287px

    &-form
      margin: 18px -3px 0

  .quiz
    &-interview
      width: 280px
      margin-left: 0








