.search
  &__background
    background-image: url("../img/block-6/imgGirl.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: 50% 50%
    height: 800px

  &__title
    font-family: "Montserrat", sans-serif
    font-style: normal
    font-weight: 600
    font-size: 42px
    line-height: 56px
    text-align: center
    color: #333333
    margin-bottom: 40px

    &-object
      color: $dark_azure

  &__description
    width: 700px
    float: right
    padding: 207px 0 10px 17px

    &-text
      font-family: "Noto Sans", sans-serif
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 25px
      text-align: center
      color: #333333
      margin-bottom: 20px

      &__object
        font-weight: bold

      &__next
        padding: 0 90px

